# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/
.mvn/
generateqrcode.iml
/target
target/classes/com/
target/generated-sources/
target/generated-test-sources/
target/generateqrcode-0.0.1-SNAPSHOT.jar
target/test-classes/
