<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dr5hx.generateqrcode.repository.UserLoginLogMapper">
  <resultMap id="BaseResultMap" type="com.dr5hx.generateqrcode.entity.UserLoginLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_ip" jdbcType="VARCHAR" property="userIp" />
    <result column="user_time" jdbcType="TIMESTAMP" property="userTime" />
    <result column="user_device" jdbcType="VARCHAR" property="userDevice" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_name, user_ip, user_time, user_device
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_login_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_login_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dr5hx.generateqrcode.entity.UserLoginLog">
    insert into user_login_log (id, user_id, user_name, 
      user_ip, user_time, user_device
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{userIp,jdbcType=VARCHAR}, #{userTime,jdbcType=TIMESTAMP}, #{userDevice,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dr5hx.generateqrcode.entity.UserLoginLog">
    insert into user_login_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userIp != null">
        user_ip,
      </if>
      <if test="userTime != null">
        user_time,
      </if>
      <if test="userDevice != null">
        user_device,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userIp != null">
        #{userIp,jdbcType=VARCHAR},
      </if>
      <if test="userTime != null">
        #{userTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userDevice != null">
        #{userDevice,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dr5hx.generateqrcode.entity.UserLoginLog">
    update user_login_log
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userIp != null">
        user_ip = #{userIp,jdbcType=VARCHAR},
      </if>
      <if test="userTime != null">
        user_time = #{userTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userDevice != null">
        user_device = #{userDevice,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dr5hx.generateqrcode.entity.UserLoginLog">
    update user_login_log
    set user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      user_ip = #{userIp,jdbcType=VARCHAR},
      user_time = #{userTime,jdbcType=TIMESTAMP},
      user_device = #{userDevice,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>